@mixin box-shadow($px){
  box-shadow: $px $px $px #999;
}
body {
  margin: 0;
}
a {
  cursor: pointer;
}
.container {
  max-width : 1000px;
  margin    : 0 auto;
  text-align: center;
}
img.designImg {
  @include box-shadow(2px);
  display         : inline-block;
  position        : relative;
  background-color: tomato;
  width           : 14em;
  height          : 14em;
  text-decoration : none;
}
img.designImg:hover{ 
  box-shadow: 5px 5px 5px #777;
  transition: box-shadow 0.4s;
}

.nodeco ul li{
  display        : inline-block;
  text-decoration: none;
  margin         : 5px;
}


/*hover shows image content, starts*/
/**********************************/
ul.img-list {
  text-align     : center;
  list-style-type: none;
  margin         : 0;
  padding        : 0;
  margin-top     : 10px;
  }
 
ul.img-list li {
  display : inline-block;
  margin  : 0 1em 1em 0;
  position: relative;
  height  : 14em;
  width   : 14em;
}
 
span.text-content span {
  display       : table-cell;
  text-align    : center;
  vertical-align: middle;
}
 
ul.img-list li:hover span.text-content {
  opacity: 1;
/*  box-shadow: 5px 5px 5px #777;
  transition: box-shadow 0.4s;*/
}
span.text-content {
  background: rgba(255,99,71,1.0);
  position  : absolute;
  cursor    : pointer;
  color     : white;
  display   : table;
  height    : 12.7em;
  width     : 12.7em;
  padding   : 10px;
  left      : 0;
  top       : 0;
  opacity   : 0;
  -webkit-transition: opacity 800ms;
  -moz-transition   : opacity 800ms;
  -o-transition     : opacity 800ms;
  transition        : opacity 800ms;
}
/*hover shows image content, ends*/
/********************************/

/*navbar*/
@mixin navtab {
  @include box-shadow(1px);
  text-decoration: none;
  color          : #fff;
  padding-top    : 30px;
  height         : 50px;
  width          : 80px;
  z-index        : 999;
  margin-bottom  : 2px;
}

#logo {
  background-color: rgba(255,99,71,1.0);
  @include navtab; 
}
#logo:hover{
  transition: box-shadow 0.2s ease-in-out 0.2s;
  @include box-shadow(3px);
}
#design, #tech, #food, #travel{
  background-color: rgba(255,99,71,1.0);
  @include box-shadow(2px);
  @include navtab;
  color: white;
}
#design:hover, #tech:hover, #food:hover, #travel:hover {
  background-color: #fff;
  color: #666;
}
a {
  text-decoration: none;
}
#show-nav{
  position: absolute;
  z-index: 999;
}


/* Have to set height explicity on ui-view 
to prevent collapsing during animation
************************** Page Transition */
.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left    : 0;
  right   : 0;
  -webkit-transition:all 1.4s ease-in-out;
  -moz-transition   :all 1.4s ease-in-out;
  -o-transition     :all 1.4s ease-in-out;
  transition        :all 1.4s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(1, 1, 10);
  -moz-transform   :scale3d(1, 1, 10);
  transform        :scale3d(1, 1, 10);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 0);
  -moz-transform   :scale3d(1, 1, 0);
  transform        :scale3d(1, 1, 0);
}

[ui-view].ng-leave {
  opacity: 1; 
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform   :translate3d(0, 0, 0);
  transform        :translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(220px, 0, 0);
  -moz-transform   :translate3d(220px, 0, 0);
  transform        :translate3d(220px, 0, 0);
}
/* Have to set height explicity on ui-view 
to prevent collapsing during animation
************************** Page Transition */

a.goto {
  position   : absolute;
  margin-top : -30px;
  margin-left: 80px;
}
h6.title {
  position   : absolute;
  margin-top : -56px;
  margin-left: 95px;
  color      : #c5c5c5;
}

a i.mdi-action-exit-to-app {
  position   : absolute;
  margin-left: -0.6em;
  margin-top : -0.4em;
  font-size  : 2em;
  color      : #fff;
}
li i.mdi-action-exit-to-app { 
  color: orange;
  display: none;
}
/*li i.mdi-action-exit-to-app { display: none; };*/
li:hover i.mdi-action-exit-to-app { 
  color: #fff; 
  display: block;
}
li i.mdi-action-exit-to-app:hover {
  color: #fc2500;
}

#login-menu, #edit-menu, #logout-menu, #login-menu, #signup-menu{
  display: inline-block;
  text-align: right;
  float: right;
  position: relative;
  margin-top: 1.3em;
  margin-right: 0.5em;
  font-size: 0.98em;
}
#logout-menu a {
  color: tomato;
}
#edit-menu a {
  color: tomato;
}
/*.log-menu {
  float: right;
  text-align: right;
}*/

.devise-format {
  width: 18em;
  margin: 5em auto;
  color: #888;
}
#top-two{
  display: inline-block;
  margin-top: 1em;
}
#bottom-two{
  display: inline-block;
  margin-top: 1em;
}
#design-box, #tech-box, #food-box, #travel-box {
  background-color: #fff;
  margin: 0.5em;
  padding: 5em;
  color: tomato;
  @include box-shadow(3px);
}
#design-box:hover, #tech-box:hover, #food-box:hover, #travel-box:hover{
  @include box-shadow(7px);
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition   :all 0.3s ease-in-out;
  -o-transition     :all 0.3s ease-in-out;
  transition        :all 0.3s ease-in-out;
}
#four-box {
  margin-top: 2em;
}
#tech-box, #travel-box {
  margin-top: 1em;
}
/*************media queries
***************************/

@media all and (max-width: 62em) and (orientation: portrait) {

h6.title {
  position   : fixed;
  margin-left: 8.5em;
  margin-top : -5.4em;
  font-size: 1.8em;
  color: #c5c5c5;
}
@mixin navtab {
  padding-top   : 2.7em;
  font-size     : 2em;
  height        : 4.3em;
  width         : 7em;
}

#logo {
  padding-bottom: 0.6em;
  padding-top   : 0.9em;
  font-size     : 4em;
  width         : 3.5em;
  height        : 2em;
}
#design, #tech, #food, #travel{
  @include navtab;
}
ul.img-list {
  margin-top: 2em;
}

img.designImg {
  @include box-shadow(2px);
  background-color: tomato;
  width           : 30em;
  height          : 30em;
}

ul.img-list li {
  height  : 30em;
  width   : 30em;
}
span.text-content {
  font-size: 2em;
  height   : 13em;
  width    : 13.1em;
  padding  : 1em;
  left     : 0;
  top      : 0;
  opacity  : 0;
  -webkit-transition: opacity 800ms;
  -moz-transition   : opacity 800ms;
  -o-transition     : opacity 800ms;
  transition        : opacity 800ms;
}
[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(50em, 0, 0);
  -moz-transform   :translate3d(50em, 0, 0);
  transform        :translate3d(50em, 0, 0);
}

a i.mdi-action-exit-to-app {
  position   : absolute;
  margin-left: 1.2em;
  margin-top : -1em;
  font-size  : 3.4em;
  color      : #fff;
}



} /*ends media query for iphone*/











