<!-- source for categories -->

<div ng-controller="FoodCtrl" class="nodeco">
  <ul>
    <li ng-repeat="food in foods">
      <img ng-src="{{food.img_url}}" alt="{{food.title}}" ng-show="goFood" class="designImg">
    </li>
  </ul>
</div>

<div ng-controller="TravelCtrl" class="nodeco">
  <ul>
    <li ng-repeat="travel in travels">
      <img ng-src="{{ travel.img_url }}" alt="{{travel.title}}" class="designImg" ng-show="goTravel">      
    </li>
  </ul>
</div>

<div ng-controller="DesignCtrl" class="nodeco">
  <ul>
    <li ng-repeat="design in designs">
      <img ng-src="{{ design.img_url}}" alt="{{deign.info}}" class="designImg" ng-show="goDesign">
    </li>
  </ul>
</div>

<div ng-controller="TechCtrl" class="nodeco">
  <ul>
    <li ng-repeat="tech in techs">
      <img ng-src="{{ tech.img_url}}" alt="{{tech.title}}" class="designImg" ng-show="goTech">
    </li>
  </ul>
</div>




<!-- using rails to populate image
<div ng-controller="HeaderCtrl">
  
  <h1>{{outputDesign}}</h1>

    <% @show_all.each do |image| %>
      <img src="<%= image.img_url %>" class="designImg">
    <% end %>  
</div>
 -->
  