<div slide-toggle="#show-nav">
  <a><div id="logo">bloq</div></a>

  <div id="show-nav" class="slideable">
    <a ui-sref ="design" ><div id="design">Design</div></a>
    <a ui-sref ="tech"><div id="tech">Tech</div></a>
    <a ui-sref ="food"><div id="food">Food</div></a>
    <a ui-sref ="travel"><div id="travel">Travel</div></a>
  </div>  
</div>




  




   