
<h1>{{outputDesign}}</h1>

  <% @show_all.each do |image| %>
    <img src="<%= image.img_url %>" class="designImg">
  <% end %>  

  


<!-- 
<input type="text" ng-model="outputDesign">




<section ng-controller="MainCtrl">
  <ng-view></ng-view>
  
    <section id="main" ng-show="designs.length" ng-cloak>
    <ul id="todo-list">
      <li ng-repeat="design in designs">

      </li>
    </ul>
  </section>
</section> -->


<script>
// var $button = $('.designImg')

// $button.on('click', function(){
    

//     var options = {
//       url: 'http://www.bloq.herokuapp.com/v1/api/designs',
//       type: 'GET',
//       dataType: 'json'
//     }
//     $.ajax(options).done();

//   });         
</script>     