<div class="nodeco" ng-controller="BloqCtrl">
  {{title}}

  <ul>
    <li ng-repeat="design in designs">
      <img src="{{ design.img_url}}" alt="" class="designImg">
    </li>
<!--     <li ng-repeat="design in designs">
      {{ design.info}}
    </li> -->
<!--     <li ng-repeat="design in designs">{{design.img_url}}</li> -->
  </ul>
</div>





<!-- 
<div ng-controller="HeaderCtrl">
  
  <h1>{{outputDesign}}</h1>

    <% @show_all.each do |image| %>
      <img src="<%= image.img_url %>" class="designImg">
    <% end %>  
</div>
 -->
  





   