<div ng-controller="HeaderCtrl">
  <h1>{{ outputDesign | uppercase }}</h1>
</div>
  
<div class="nodeco" ng-controller="DesignCtrl">
  <ul>
    <li ng-repeat="design in designs">
      <img ng-src="{{ design.img_url}}" alt="" class="designImg">
    </li>
  </ul>
</div>





<!-- using rails to populate image
<div ng-controller="HeaderCtrl">
  
  <h1>{{outputDesign}}</h1>

    <% @show_all.each do |image| %>
      <img src="<%= image.img_url %>" class="designImg">
    <% end %>  
</div>
 -->
  





   