
<a ui-sref="/">bloq</a>


 
 <a ui-sref ="design" ng-click="goDesign = !goDesign">Design</a>
 <a ui-sref ="tech" ng-click="goTech = !goTech">Tech</a>
 <a ui-sref ="food" ng-click="goFood = !goFood">Food</a>
 <a ui-sref ="travel" ng-click="goTravel = !goTravel">Travel</a>
 


<%#= render 'ctrls' %>





   