<div slide-toggle="#show-nav">
  <a><div id="logo">bloq</div></a>

  <div id="show-nav" class="slideable">
    <a ui-sref ="design"><div id="design">design</div></a>
    <a ui-sref ="tech"><div id="tech">tech</div></a>
    <a ui-sref ="food"><div id="food">food</div></a>
    <a ui-sref ="travel"><div id="travel">travel</div></a>
  </div>  
</div>

<div id="four-box">
  <div id="top-two">
    <a ui-sref ="design"><div id="design-box">design</div></a>
    <a ui-sref ="tech"><div id="tech-box">tech</div></a>
  </div>
  <div id="bottom-two">
    <a ui-sref ="food"><div id="food-box">food</div></a>
    <a ui-sref ="travel"><div id="travel-box">travel</div></a>
  </div>
</div>
  




   